<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="Container-user-icon justify-content-end " >
            <a class="navbar-brand" href="#!" onclick="location.reload()" >YugiArchive</a>
            <a class="navbar-item last" (click)="openAddCardMenu()" [hidden]="!imLogged()" >Add Card</a>
            <div class="navbar-space"></div>
            <img src="../assets/defProf.png" alt="Profile" class="profile-icon" (click)="toggleOptions()">
            <div id="user-options" class="dropdown-content">
                <ul class="list-unstyled">
                    <li>
                        <button type="button" class="dropdown-item" [hidden]="imLogged()" (click)="logIn()">Log In</button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" [hidden]="imLogged()" (click)="SignIn()">Sign In</button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" [hidden]="!imLogged()" (click)="logOut()">Log Out</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-3 px-lg-4 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Card Archive</h1>
        </div>
    </div>
</header>
<!-- Section-->
<body>
    <section id="Filter" >
        <form  [formGroup]="myForm" (ngSubmit)="onSubmitFilter()" >
            <div class="container mt-3" >
                <button (click)="hideContainer()">V</button>
            </div>
            <div class="container mt-3 border" [hidden]="isFilterHidden">
                <div class="row" >
                    <div class="col-sm-3">
                        <label for="name">Name</label>
                        <input type="text" id="name" formControlName="name" class="form-control smaller-input">
                    </div>
                    <div class="col-sm-3">
                        <label for="attributes">Attribute</label>
                        <select id="attributes" class="form-select smaller-input" formControlName="attributes">
                            <option value=""></option>
                            <option value="dark">DARK</option>
                            <option value="divine">DIVINE</option>
                            <option value="earth">EARTH</option>
                            <option value="fire">FIRE</option>
                            <option value="light">LIGHT</option>
                            <option value="water">WATER</option>
                            <option value="wind">WIND</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="MonsterTypes">Monster Type</label>
                        <select id="MonsterTypes" formControlName="MonsterTypes" class="form-select smaller-input">
                            <option value=""></option>
                            <option value="Aqua">Aqua</option>
                            <option value="Beast">Beast</option>
                            <option value="BeastWarrior">Beast-Warrior</option>
                            <option value="Cyberse">Cyberse</option>
                            <option value="Dinosaur">Dinosaur</option>
                            <option value="Dragon">Dragon</option>
                            <option value="Fairy">Fairy</option>
                            <option value="Fiend">Fiend</option>
                            <option value="Fish">Fish</option>
                            <option value="Insect">Insect</option>
                            <option value="Machine">Machine</option>
                            <option value="Plant">Plant</option>
                            <option value="Psychic">Psychic</option>
                            <option value="Pyro">Pyro</option>
                            <option value="Reptile">Reptile</option>
                            <option value="Rock">Rock</option>
                            <option value="SeaSerpent">Sea Serpent</option>
                            <option value="Spellcaster">Spellcaster</option>
                            <option value="Thunder">Thunder</option>
                            <option value="Warrior">Warrior</option>
                            <option value="WingedBeast">Winged Beast</option>
                            <option value="Wyrm">Wyrm</option>
                            <option value="Zombie">Zombie</option>
                            <option value="DivineBeast">Divine-Beast</option>
                            <option value="Immortal">Immortal</option>
                            <option value="Creator God">Creator God</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="types">Type</label>
                        <select id="types" formControlName="types" class="form-select smaller-input">
                            <option value=""></option>
                            <option value="Normal">Normal</option>
                            <option value="Effect">Effect</option>
                            <option value="Union">Union</option>
                            <option value="Ritual">Ritual</option>
                            <option value="Fusion">Fusion</option>
                            <option value="Synchro">Synchro</option>
                            <option value="Xyz">Xyz</option>
                            <option value="Pendulum">Pendulum</option>
                            <option value="Link">Link</option>
                            <option value="Spell">Spell</option>
                            <option value="Trap">Trap</option>
                        </select>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-3">
                        <label for="LevelRankFrom">Level/Rank from</label>
                        <input type="text" id="LevelRankFrom" formControlName="LevelRankFrom" class="form-control smaller-input">
                        <div *ngIf="myForm.get('LevelRankFrom')?.invalid && myForm?.get('LevelRankFrom')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('LevelRankFrom')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('LevelRankFrom')?.hasError('max')">should be at most 12</div>
                            <div *ngIf="myForm.get('LevelRankFrom')?.hasError('pattern')">Invalid format</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="LevelRankTo">Level/Rank to</label>
                        <input type="text" id="LevelRankTo" formControlName="LevelRankTo" class="form-control smaller-input">
                        <div *ngIf="myForm.get('LevelRankTo')?.invalid && myForm?.get('LevelRankTo')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('LevelRankTo')?.hasError('min')">should be at least 0</div>
                            <div *ngIf="myForm.get('LevelRankTo')?.hasError('max')"> should be at most 12</div>
                            <div *ngIf="myForm.get('LevelRankTo')?.hasError('pattern')">Invalid format</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="PendulumFrom">Pendulum from</label>
                        <input type="text" id="PendulumFrom" formControlName="PendulumFrom" class="form-control smaller-input">
                        <div *ngIf="myForm.get('PendulumFrom')?.invalid && myForm?.get('PendulumFrom')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('PendulumFrom')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('PendulumFrom')?.hasError('max')">should be at most 12</div>
                            <div *ngIf="myForm.get('PendulumFrom')?.hasError('pattern')">Invalid format</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="PendulumTo">Pendulum to</label>
                        <input type="text" id="PendulumTo" formControlName="PendulumTo" class="form-control smaller-input">
                        <div *ngIf="myForm.get('PendulumTo')?.invalid && myForm?.get('PendulumTo')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('PendulumTo')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('PendulumTo')?.hasError('max')"> should be at most 12</div>
                            <div *ngIf="myForm.get('PendulumTo')?.hasError('pattern')">Invalid  format</div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-3">
                        <label for="LinkFrom">Link from</label>
                        <input type="text" id="LinkFrom" formControlName="LinkFrom" class="form-control smaller-input">
                        <div *ngIf="myForm.get('LinkFrom')?.invalid && myForm?.get('LinkFrom')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('LinkFrom')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('LinkFrom')?.hasError('max')"> should be at most 12</div>
                            <div *ngIf="myForm.get('LinkFrom')?.hasError('pattern')">Invalid  format</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="LinkTo">Link to</label>
                        <input type="text" id="LinkTo" formControlName="LinkTo" class="form-control smaller-input">
                        <div *ngIf="myForm.get('LinkTo')?.invalid && myForm?.get('LinkTo')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('LinkTo')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('LinkTo')?.hasError('max')"> should be at most 12</div>
                            <div *ngIf="myForm.get('LinkTo')?.hasError('pattern')">Invalid  format</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="atkFrom">ATK from</label>
                        <input type="text" id="atkFrom" formControlName="atkFrom" class="form-control smaller-input">
                        <div *ngIf="myForm.get('atkFrom')?.invalid && myForm?.get('atkFrom')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('atkFrom')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('atkFrom')?.hasError('pattern')">Invalid  format</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="atkTo">ATK to</label>
                        <input type="text" id="atkTo" formControlName="atkTo" class="form-control smaller-input">
                        <div *ngIf="myForm.get('atkTo')?.invalid && myForm?.get('atkTo')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('atkTo')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('atkTo')?.hasError('pattern')">Invalid  format</div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-3">
                        <label for="defFrom">DEF from</label>
                        <input type="text" id="defFrom" formControlName="defFrom" class="form-control smaller-input">
                        <div *ngIf="myForm.get('defFrom')?.invalid && myForm?.get('defFrom')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('defFrom')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('defFrom')?.hasError('pattern')">Invalid  format</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="defTo">DEF to</label>
                        <input type="text" id="defTo" formControlName="defTo" class="form-control smaller-input">
                        <div *ngIf="myForm.get('defTo')?.invalid && myForm?.get('defTo')?.touched" class="error-message Err">
                            <div *ngIf="myForm.get('defTo')?.hasError('min')"> should be at least 0</div>
                            <div *ngIf="myForm.get('defTo')?.hasError('pattern')">Invalid  format</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="icon">Type of Trap/Spell</label>
                        <select id="icon" formControlName="icon" class="form-select smaller-input">
                            <option value=""></option>
                            <option value="Normal">Normal</option>
                            <option value="Continuous">Continuous</option>
                            <option value="CounterTraps">Counter Traps</option>
                            <option value="Equip">Equip</option>
                            <option value="QuickPlay">Quick-Play</option>
                            <option value="Field">Field</option>
                            <option value="Ritual">Ritual</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section C class="py-5">
        <div class="table container px-3 px-lg-3 mt-3">
            <tbody>
                <tr *ngFor="let row of getRows()" class="row">
                    <td *ngFor="let card of row" class="col">
                        <div *ngIf="card && card.name" class="card h-100 w-75 " data-target="#showCardModal" role="button" data-toggle="modal" (click)="onOpenModal(card,'showCardModal')" >
                            <!-- Card image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Card details-->
                            <div class="card-body p-">
                                <div class="text-center">
                                    <!-- Card name-->
                                    <h5 class="fw-bolder">{{card.name}}</h5>
                                    <!-- Card attributes -->
                                    <div [hidden]="card.cardType === 'Trap' || card.cardType === 'Magic'">
                                        ATK: {{ card.atk }} DEF: {{ card.def }} Lv: {{ card.levelRank }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <button class="button more-cards-button" (click)="getTopCards()" [hidden]="isMoreCardsHidden">MORE CARDS</button>
        </div>
        
    </section>
    
    <!-- <a class="btn" data-target="#showCardModal" role="button" data-toggle="modal" >Launch demo modal</a>
-->
    <section id="Modals">
        <!-- Modals -->
        <div id="showCardModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details Card</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="name">Name</label>
                        <div id="name" class="form-control ">{{currentCard.name}}</div>
                    </div>
                    <div class="col-sm-1"></div>
                    <!-- Monster Effcet and Synchro -->
                    <div class="col-sm-2" *ngIf="currentCard.cardType === 'Monster'
                    || currentCard.cardType === 'Effect' || currentCard.cardType === 'Synchro'" >
                        <label for="Level">Level</label>
                        <div id="Level" class="form-control ">{{currentCard.levelRank}}</div>
                    </div>
                    <!-- Xyz Monster -->
                    <div class="col-sm-2" *ngIf="currentCard.cardType === 'Xyz'" >
                        <label for="Level">Rank</label>
                        <div id="Level" class="form-control ">{{currentCard.levelRank}}</div>
                    </div>
                    <!-- Link Monster -->
                    <div class="col-sm-2" *ngIf="currentCard.cardType === 'Link'" >
                        <label for="Level">Link</label>
                        <div id="Level" class="form-control ">{{currentCard.link}}</div>
                    </div>
                    <!-- Trap/Magic -->
                    <div class="col-sm-2" *ngIf="currentCard.cardType === 'Trap' || currentCard.cardType === 'Magic'" ></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1">
                        <!-- add icons image -->
                        <div id="icon" class="form-control ">{{currentCard.icon}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="attribute">Attribute</label>
                        <div id="attribute" class="form-control ">{{currentCard.attribute}}</div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <label for="MonsterType">Monster Type</label>
                        <div id="MonsterType" class="form-control ">{{currentCard.monsterType}}</div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <label for="cardType">Card Type</label>
                        <div id="cardType" class="form-control ">{{currentCard.cardType}}</div>
                    </div>
                </div>
                <div class="row" *ngIf="currentCard.cardType !== 'Trap' && currentCard.cardType !== 'Magic'">
                    <div class="col-sm-3">
                        <label for="atk">ATK</label>
                        <div id="atk" class="form-control ">{{currentCard.atk}}</div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <label for="def">DEF</label>
                        <div id="def" class="form-control ">{{currentCard.def}}</div>
                    </div>
                    <div class="col-sm-2"></div>                    
                </div>
                <div class="row" *ngIf="currentCard.cardType === 'Pendulum'">
                    <div class="col-sm-3">
                        <label for="Pendulum">Pendulum</label>
                        <div id="Pendulum" class="form-control ">{{currentCard.pendulum}}</div>
                    </div>          
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="Pendulum">Description</label>
                        <div id="Pendulum" class="form-control ">{{currentCard.effectDescription}}</div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn delete-card-button" [hidden]="!imLogged()" (click)="DeleteCard()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            </div>
            </div>
        
        </div>
        </div>
    </section>
</body>
<!-- Footer-->
<footer class="py-5 bg-dark">
    
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; YugiArchive 2023</p></div>
</footer>